<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>

  <body>

    <header>
      <div class="">
          Logo
      </div>
      <div class="">
          navigation
      </div>
    </header>

    <main>
      <section>
        <form id="urlForm">
          <P id="error"></P>
          <input id="url" type="text" name="url" placeholder="Please enter URL" required>
          <button id="submitButton" type="submit">Submit</button>
        </form>
      </section>

      <section>
        <strong>Form Results:</strong>
        <div id="results">
          <p id="score-tag"></p>
          <p id="agreement"></p>
          <p id="subjectivity"></p>
          <p id="confidence"></p>
          <p id="irony"></p>
        </div>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
    </body>
</html>
